/* Style for our header texts
	* --------------------------------------- */
	/* h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
	}
	.intro p{
		color: #fff;
	} */

	/* Centered texts in each section
	* --------------------------------------- */
	/* .section{
		text-align:center;
	} */

	/* Bottom menu
	* --------------------------------------- */
	/* #infoMenu li a {
		color: #fff;
	} */
/* * {
	color: black;
} */

/* ----------------- TYPE ----------------- */
.serif {
	font-family: 'Playfair Display', serif;
}
.sans-serif {
	font-family: 'Raleway', sans-serif;
}
.crimson {
	font-family: 'Crimson Text', serif;
}
.tonos {
	font-family: 'Tonos', serif;
}
/* @media (min-height: 400px) and (max-height: 600px) {
	._2 {
		font-size: 3.25em;
	}
} */
._1 {
	font-size: 1em;
}
._125 {
	font-size: 1.25em;
}
._15 {
	font-size: 1.5em;
}
p > ._2 {
	font-size: 3.5em;
}
._225 {
	font-size: 2.25em;
}
._275 {
	font-size: 2.75em;
}
._3 {
	font-size: 3em;
}
._35 {
	font-size: 3.5em;
}
._5 {
	font-size: 5em;
}
._7 {
	font-size: 7em;
}
._875 {
	font-size: 8.75em;
}
@media (max-width: 700px) {
	._1 {
		font-size: 1em;
	}
	._125 {
		font-size: 1.25em;
	}
	._15 {
		font-size: 1.5em;
	}
	p > ._2 {
		font-size: 3.5em;
	}
	._225 {
		font-size: 2.25em;
	}
	._275 {
		font-size: 2.75em;
	}
	._3 {
		font-size: 3em;
	}
	._35 {
		font-size: 3.5em;
	}
	._5 {
		font-size: 5em;
	}
	._7 {
		font-size: 7em;
	}
	._875 {
		font-size: 8.75em;
	}
}
.anchor:hover {
	text-decoration-style: dotted;
	color: white;
}
/* .anchor:hover, .anchor:focus, .anchor:active, .anchor:link, .anchor:visited {
	border: none;
	text-decoration: none;
	color: black;
}
.anchor-2:hover, .anchor-2:focus, .anchor-2:active, .anchor-2:link, .anchor-2:visited */
/* ----------------- BACKGROUND-COLOR ----------------- */
.white {
	background-color: white;
}
.black {
	background-color: black;
}
.blue {
	background-color: rgba(0, 110, 222, 0.3);
}
.red {
	background-color: rgba(249, 47, 75, 0.75);
}
.yellow {
	background-color: rgba(244, 255, 89, 0.95);
}
/* ----------------- FONT COLOR ----------------- */
.type-black {
	color: black;
}
.type-white {
	color: white;
}
.type-blue {
	color: rgb(0, 110, 222);
}
/* ----------------- LAYOUT ----------------- */
.width {
	width: 100%;
}
.margin-vt-sm {
	margin-top: 1%;
	margin-bottom: 1%;
}
.margin-vt-sm-top {
	margin-top: 1%;
}
.margin-vt-md {
	margin-top: 5%;
	margin-bottom: 5%;
}
.margin-vt-qu-top {
	margin-top: 2.5%;
}
.margin-vt-md-top {
	margin-top: 5%;
}
.margin-vt-lg {
	margin-top: 10%;
	margin-bottom: 10%;
}
.margin-ct {
	margin: 0 auto;
}
.padding-sm {
	padding: 1%;
}
.padding-sd {
	padding: 2.5%;
}
.padding-md {
	padding: 5%;
}
.top {
	top: 0;
	right: 0;
}
.fp-controlArrow.fp-prev {
	left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent rgba(0, 0, 0, 0.25) transparent transparent;
}
.fp-controlArrow.fp-next {
	right: 15px;
    width: 0;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.25);
}
ol, ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}
footer {
	width: 100vw;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, .975);
}
/* ----------------- BUTTON ----------------- */
.btn-basic {
	border-radius: 50px 50px 50px 50px;
	border: 2px solid #F92F4B;
	background-color: white;
}
.btn-basic:hover {
	border-radius: 50px 50px 50px 50px;
	border: 2px solid #F92F4B;
	background-color: #F92F4B;
	color: white;
}
/* ----------------- IMAGE ----------------- */
.img-fit {
	height: auto;
	width: 25%;
}
.img-fit-h {
	width: auto;
	height: 25rem
}
.soc {
	display: block;
	font-size: 0;
	list-style: none;
	margin: 0;
	/* padding: 48px; */
	/* padding: 4.8rem; */
	text-align: center;
}
.soc svg {
	height: 3rem;
	width: 3rem;
}
.soc img {
	height: 3rem;
	width: 3rem;
}
#ark {
	height: 250px;
	width: auto;
}
#slide1 {
	background: url('/images/parthenon.svg') right bottom no-repeat;
	background-size: 600px;
}
#TN {
	background: url('tn-flag.svg') no-repeat;
	background-size: 500px;
}